*/obj/*
*/bin/*/*.exe
*/bin/*/*.dll
*/bin/*/*.pdb
*/bin/*/*.exe.config

!cs-tree-genetic-programming-samples/bin/Debug/symreg
!cs-tree-genetic-programming-samples/bin/Release/symreg

*.user

packages/

